// _utils
// colorbook
$dark: hsl(180, 0%, 15%);
$light-dark: hsl(180, 0%, 18%);
$light: hsl(180, 10%, 98%);
$light-neutro: hsl(180, 30%, 80%);

$primary: hsl(180, 100%, 40%);
$dark-primary: hsl(180, 80%, 20%);
$secondary: hsl(335, 100%, 60%);
$dark-secondary: hsl(335, 80%, 20%);

$main-spacing: 1rem;
$main-radius: .5rem;

$html: hsl(18, 87%, 55%);
$css: hsl(210, 87%, 55%);
$js: hsl(45, 87%, 55%);
$design: hsl(260, 87%, 55%);

@mixin width-control {
  box-sizing: border-box;
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
}

@mixin for-tablet {
  @media screen and (min-width: 32rem) {
    @content;
  }
}

@mixin for-desktop {
  @media screen and (min-width: 33rem) {
    @content;
  }
}

// animation 

// @keyframes stretch {
// 	0% {
//     transform: scale3d(1.1, 1, 1);
//   }

//   25% {
//     transform: scale3d(.9, 1.1, 1);
//   }


//   50% {
//     transform: scale3d(.8, 1.3, 1);
//   }


//   75% {
//     transform: scale3d(.8, 1.1, 1);
//   }

//   100% {
//     transform: scale3d(1.1, 1, 1);
//   }
// }

@keyframes stretch {
	0% {
    transform: scale3d(1.4, 1, 1);
  }

  25% {
    transform: scale3d(1.2, 1.2, 1);
  }


  50% {
    transform: scale3d(1, 1.4, 1);
  }


  75% {
    transform: scale3d(1.2, 1.2, 1);
  }

  100% {
    transform: scale3d(1.4, 1, 1);
  }
}

@keyframes boing {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 10%);
  }


  50% {
    transform: translate(0, 20%);
  }


  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -10%);
  }
}

// _base 
// reset
body, h1, h2, h3, p {
  margin: 0;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}


@import 'components';
@import 'sections';