body {

	padding-top: 10%;
	font-family: 'Raleway', sans-serif;
	color: #00000099;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	background: linear-gradient(to right, greenyellow, blue);
}

h1 {
	font: 900 3em 'Raleway', sans-serif;
}

input {
	border: none;
	background: transparent;
}

h2 {
	font: 600 1.5em 'Raleway', sans-serif;
}

h3 {
	font: 100 1em 'Raleway', sans-serif;
	text-transform: none;
	letter-spacing: .1em;
}

button {
	margin-top: 1em;
	border: none;
  border-radius: 10em;
	padding: 1em 2em;
	background: #00000077;
	color: #ffffff99;
	font: 900 1em 'Raleway', sans-serif;
	cursor: pointer;
	transition: .5s;
}

button:hover {
	background: #000000ff;
	transform: scale(1.1);
}

@media (max-width: 500px) {
  body {
    width: 100vw;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.1em;
  }
}
