<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="data:,">
  <title> {{ title }} </title>
  <meta name="description" content="I'm Gabriela Santos, a front-end developer that enjoys turning ideas and designs into functional, performant and accessible websites using the power of coding and best UI/UX practices.">
  <meta name="author" content="Gabriela S. Santos.">
  <link rel="stylesheet" href="./css/main.min.css">
</head>
<body>
  <div class="wrapper">

  <main class="main">
    <section class="hero">
      <h1 class="hero__heading">
        Hello, I'm <br> Gabriela Santos.

        <span class="hero__heading--accent">FRONTEND DEVELOPER</span>
      </h1>

      <p class="hero__text">
        I'm passionate about turning ideas and designs into functional, performant and accessible websites using the power of coding and best UI/UX practices.
      </p>

      <a class="hero__button" href="#projects-section">
        <img class="hero__button-icon" src="./assets/arrow.svg" alt="">
        Projects
      </a>
    </section>
    
    <!-- ID used to link with the main button -->
    <section id="projects-section" class="projects">

      {% include 'layout/projects.njk' %}

    </section>

    <section class="projects">

      {% include 'layout/challenges.njk' %}

    </section>

    <footer class="footer">
      <a href="https://github.com/gabysantosw" class="footer__social-link">
        <img src="./assets/github.svg" alt="Check out my GitHub." class="footer__social">
      </a>
      <p class="footer__text --main">
        Built with 💙 and my 🐶 by Gabriela Santos &copy; 2020
      </p>
      <p class="footer__text">
        Powered by <a class="footer__link" href="https://www.11ty.dev/">11ty</a>. Hosted on <a href="https://www.netlify.com/" class="footer__link">Netlify</a>.
      </p>
    </footer>
  </main>

  </div>
</body>
</html>